/* Basic Font Stylings And borderBoxing for all */

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Root Directory */

:root {
    --clr-accent: #10292E;
    --clr-accent-light: #149F98;
    --clr-light: #FFFFFF;
    --clr-txt-light: #7F7F7F;
    --clr-dark: #1C1D21;
    --fs-h1: 2.25rem;
    --fs-txt: 1rem;
    --fs-txt-sm: 0.875rem;
    --fs-h2: 1.875rem;
    --fw-h1: 500;
    --fw-reg: 500;
    --fw-bold: 700;
}

/* Removing Body default styles */

body {
    padding: 0;
    margin: 0;
}

/* Header Section Styles All */

header {
    background: transparent;
    display: flex;
    justify-content: space-around;
    padding: 8px 20px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: all .5s ease;
}

/* Shrinked Navigation Bar styles (Header) */

.shrinked {
    padding: 4px 20px;
    background: var(--clr-accent);
    border-bottom: 2px solid var(--clr-light); 
}

header div a .logo {
    max-width: 120px;
}

header .nav__main {
    list-style: none;
    display: block;
}

.hamburger__container {
    cursor: pointer;
    display: none;
    z-index: 30000;
}

/* Mobile Responsive Media Querries */

@media (max-width: 900px) {
    header .nav__main {
        display:none;
    }

    .hamburger__container {
        display: block;
    }

    header {
        justify-content: space-between;
        padding: 4px 20px;
        background: var(--clr-accent);
        border-bottom: 2px solid var(--clr-light); 
    }

}

@media (min-width: 900px) {
    .nav__mobile.open {
        display: none;
    }
}

@media (max-width: 400px) {
    .intro__carousel .intro__text {
        margin-top: 10vh;
    }

    .intro__carousel h1 {
        font-size: var(--fs-h2);
    }
}

.hamburger {
    width: 3em;
    height: 6px;
    background: var(--clr-light);
    transition: all 0.5s ease;
    position: relative;
}

.hamburger::after, .hamburger::before {
    content: '';
    width: 3em;
    height: 6px;
    background: var(--clr-light);
    transition: all 0.5s ease;
    position: absolute;
}

.hamburger::after {
    transform: translateY(10px);
}

.hamburger::before {
    transform: translateY(-10px);
}

.hamburger__container.open .hamburger {
    background: rgba(0, 0, 0, 0);
}

.hamburger__container.open .hamburger::before {
    transform: rotate(45deg);
}

.hamburger__container.open .hamburger::after {
    transform: rotate(135deg);
}

header .nav__main__item {
    display: inline-block;
    padding: 0 0.5em;
    position: relative;
}

header .nav__main__item a {
    text-decoration: none;
    color: var(--clr-light);
    font-weight: var(--fw-reg);
    font-size: var(--fs-txt-sm);
}

header .nav__main__item a:hover {
    color: var(--clr-light);
}

/* Mobile Nav Style  */

.nav__mobile {
    position: fixed;
    top: 60px;
    left: 30%;
    bottom: 0;
    right: 0;
    background: var(--clr-accent);
    z-index: 2000;
    overflow-y:scroll;
    border-left: 2px solid var(--clr-light);
    transform: translateX(100%);
    transition: all .5s ease;
    border-bottom: 30px solid grey;
}

.nav__mobile.open {
    transform: translateX(0);
}

.nav__mobile__main {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__mobile__main__item a {
    text-decoration: none;
    color: var(--clr-light);
    width: 100%;
    font-size: 1rem;
    transition: all .3s ease;
}

.nav__mobile__main__item {
    width: 100%;
    padding: 0.5em 1em;
    border-bottom: 1px solid var(--clr-light);
}

.nav__mobile__main__item:hover a {
    opacity: 0.7;
    padding-left: 10px;
}

.nav__mobile__main__item:active a {
    opacity: 0.7;
    padding-left: 10px;
}

/* Submenu Styles */

header .nav__main__item .submenu {
    padding: 0;
    list-style: none;
    background: white;
    position: absolute;
    left: 50%;
    margin-top: 10px;
    width: 200px;
    transform: translate(-50%, 20px);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

header .nav__main__item .submenu .submenu__item .sublinks {
    color: var(--clr-accent);
    font-weight: var(--fw-reg);
    font-size: var(--fs-txt-sm);
    position: relative;
}

header .nav__main__item .submenu .submenu__item {
    width: 100%;
    padding: .25em 1em;
    transition: all 0.3s linear;
}

header .nav__main__item .submenu .submenu__item:hover {
    background: var(--clr-accent);
    padding-left: 1.5em;
}

header .nav__main__item .submenu .submenu__item:hover a {
    color: var(--clr-light);
}

header .nav__main__item.dropdowns:hover .border__bottom {
    width: 100%;
}

header .nav__main__item a:hover .border__bottom {
    width: 100%;
}

.border__bottom {
    position: absolute;
    height: 2px;
    background: var(--clr-accent-light); 
    transition: all 0.3s ease;
    bottom: 0;
    width: 0;
    left: 0;
}

header .nav__main__item.dropdowns:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
}

header .nav__main__item.dropdowns .submenu__arrow i {
    transition: all 0.3s ease;
    transform: rotate(0deg);
}

header .nav__main__item.dropdowns:hover .submenu__arrow i {
    transform: rotate(-90deg);
}

/* Main Intro Section  */

.intro__carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: var(--clr-light);
    position: relative;
    min-height: 100vh;
}

.background {
    height: 100%;
    width: 100%;
    position: absolute;
    background: var(--clr-accent);
    opacity: 0.5;
}

.intro__carousel .intro__text {
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}

.intro__carousel h1 {
    margin: 0;
    max-width: 1000px;
    font-size: var(--fs-h1);
}

.intro__carousel p {
    font-size: var(--fs-h2);
}


.brands .logos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brands .logos ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: center;
    margin: 20px 0px;
}

.sponsors .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.sponsors .logos li img {
    max-width: 300px;
}

.brands .logos ul li a img {
    max-width: 150px;
    max-height: 130px;
    margin: 10px
}

.brands .logos ul li a img.large {
    max-width: 230px;
}

.brands .logos ul li a img:hover, .brands .logos ul li a img:active, .sponsors .logos li img:hover, .sponsors .logos li img:active {
    opacity: 0.7;
}

.brands {
    text-align: center;
}

h1.styled {
    font-size: var(--fs-h1);
    font-weight: 600;
}

hr.styled {
    max-width: 20%;
    border: none;
    background: var(--clr-accent-light);
    height: 5px;
}

.about  {
    text-align: center;
    background: #EEEEEE;
    padding-top: 70px;
}

.about .text p {
    max-width: 1300px;
    font-size: 18px;
    padding: 5px;
    margin: auto;
    text-align: left;
    line-height: 1.7;
    color: var(--clr-txt-light)
}

footer .logo img {
    max-width: 200px;
}

footer .logo img:hover, footer .logo img:active {
    opacity: 0.7;
}

footer {
    background: var(--clr-accent);
    padding: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45vh;
}

footer ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

footer ul li {
    background: var(--clr-accent-light);
    padding: .75em 1em;
    margin: 5px;
    transition: transform .3s ease;
}

footer ul li a {
    font-size: 25px;
    color: var(--clr-light);
    text-decoration: none;
}

footer ul li:hover, footer ul li:active {
    transform: scale(1.2)
}

footer p {
    font-size: 18px;
    color: var(--clr-txt-light);
}